apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
- name: IMAGE:TAG
  newName: 993783881982.dkr.ecr.us-west-1.amazonaws.com/express
  newTag: dcae07f2a8dfda85ef8f7eca341b3b59f167fe51

configMapGenerator:
- envs:
  - dev.env
  name: config

generatorOptions:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
